implementations/system/inventory-sapi-impl/src/main/mule/inventory-sapi-impl.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd   http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="inventory-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
    </http:listener-config>
    <apikit:config api="resource::bcb991d0-dc5b-4ff7-b0d9-bda707983f40:inventory-sapi:1.0.1:raml:zip:inventory-sapi.raml" httpStatusVarName="httpStatus" name="inventory-sapi-config" outboundHeadersMapName="outboundHeaders"></apikit:config>
    <os:object-store name="stocks"></os:object-store>
    <flow name="inventory-sapi-main">
        <http:listener config-ref="inventory-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="inventory-sapi-config"></apikit:router>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="inventory-sapi-console">
        <http:listener config-ref="inventory-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="inventory-sapi-config"></apikit:console>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\stocks\(bookId):application\json:inventory-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
        <ee:set-variable variableName="bookId"><![CDATA[attributes.uriParams.bookId]]></ee:set-variable>
        <ee:set-variable variableName="quantity"><![CDATA[payload.quantityChange as Number default 0]]></ee:set-variable>
      </ee:variables>
        </ee:transform>
    <os:retrieve doc:name="Retrieve" doc:id="njgryr" key="#[vars.bookId]" objectStore="stocks"/>
    <ee:transform doc:name="Transform" doc:id="yicqsv" >
      <ee:message >
        <ee:set-payload doc:name="Set payload" doc:id="zboycq" ><![CDATA[%dw 2.0
    output application/java
    ---
payload update {
    case .quantity -> $ + (vars.quantity default 0)
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <os:store doc:name="Store" doc:id="oimoxl" key="#[vars.bookId]" objectStore="stocks"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\stocks\(bookId):inventory-sapi-config">
    <logger doc:name="Logger" doc:id="yytzoq" message='#["bookId = " ++ attributes.uriParams.bookId]'/>
        
    <os:retrieve doc:name="Retrieve" doc:id="tqqevv" key="#[attributes.uriParams.bookId]" objectStore="stocks"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="init">
        <http:listener config-ref="inventory-sapi-httpListenerConfig" doc:id="yyvhqz" doc:name="Listener" path="/init"></http:listener>
        <os:clear doc:id="ygepbe" doc:name="Clear" objectStore="stocks"></os:clear>
        <ee:transform doc:name="Load stocks" doc:id="mpfxmn" >
            <ee:message >
                <ee:set-payload doc:name="Set payload" doc:id="jhgtix" ><![CDATA[%dw 2.0
output application/java
---
readUrl("classpath://data/stocks.json", "application/json")]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <foreach doc:name="Foreach" doc:id="qgmvcx">
            <os:store doc:name="Store" doc:id="fjzlzj" key="#[payload.bookId]" objectStore="stocks"/>
            
        </foreach>
        <ee:transform doc:name="Transform" doc:id="sbfane" >
            <ee:message >
                <ee:set-payload doc:name="Set payload" doc:id="fcarar" ><![CDATA[%dw 2.0
output application/json
---
{
  "status": "success",
  "message": "stocks Object Store V2 reset",
  "timestamp": now() as String,
  "loadedFiles": ["stocks"]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
