implementations/system/books-catalog-sapi-impl/src/main/mule/books-catalog-sapi-impl.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd ">
    <http:listener-config name="books-catalog-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
    </http:listener-config>
    <apikit:config api="resource::bcb991d0-dc5b-4ff7-b0d9-bda707983f40:books-catalog-sapi:1.2.0:raml:zip:books-catalog-sapi.raml" httpStatusVarName="httpStatus" name="books-catalog-sapi-config" outboundHeadersMapName="outboundHeaders"></apikit:config>
    <os:object-store name="books"></os:object-store>
    <os:object-store name="authors"></os:object-store>
    <flow name="books-catalog-sapi-main">
        <http:listener config-ref="books-catalog-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="books-catalog-sapi-config"></apikit:router>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow doc:name="init" name="init">
        <http:listener config-ref="books-catalog-sapi-httpListenerConfig" doc:name="Listener" path="/init"></http:listener>
    <logger doc:name="Logger" level="INFO" message="Starting data loading to Object Store V2..."></logger>
        <os:clear doc:id="ybruwr" doc:name="Clear" objectStore="authors"></os:clear>
    <os:clear doc:id="xylnko" doc:name="Clear" objectStore="books"></os:clear>
        <ee:transform doc:name="Load Authors">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
readUrl("classpath://data/authors.json", "application/json")]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    <foreach doc:name="Foreach" doc:id="yqtmxq">
      <os:store doc:name="Store Authors" key="#[payload.id]" objectStore="authors"></os:store>
        
    </foreach>
        <logger doc:name="Logger" level="INFO" message="Stored authors in Object Store V2"></logger>
        <ee:transform doc:name="Load Books">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
readUrl("classpath://data/books.json", "application/json")]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    <foreach doc:name="Foreach" doc:id="bfclmv">
          <os:store doc:name="Store Books" key="#[payload.id]" objectStore="books"></os:store>
        
        </foreach>
        <logger doc:name="Logger" level="INFO" message="Stored books in Object Store V2"></logger>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status": "success",
  "message": "authors and books Object Store V2 reset",
  "timestamp": now() as String,
  "loadedFiles": ["authors", "books"]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger doc:name="Logger" level="INFO" message="Data loading completed successfully"></logger>
    </flow>
    <flow name="books-catalog-sapi-console">
        <http:listener config-ref="books-catalog-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="books-catalog-sapi-config"></apikit:console>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\authors:books-catalog-sapi-config">
        
        <os:retrieve-all doc:name="Retrieve all" doc:id="moblto" objectStore="authors"/>
        <ee:transform doc:name="Transform" doc:id="kfruzx" >
            <ee:message >
                <ee:set-payload doc:name="Set payload" doc:id="njtimt" ><![CDATA[%dw 2.0
        output application/json
        ---
        payload pluck ($)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\books:books-catalog-sapi-config">
    <os:retrieve-all doc:name="Retrieve all" doc:id="drhgah" objectStore="books"/>
    <ee:transform doc:name="Transform" doc:id="hirktd" >
                <ee:message >
                    <ee:set-payload doc:name="Set payload" doc:id="fjbckd" ><![CDATA[%dw 2.0
            output application/json
            ---
            payload pluck ($)]]></ee:set-payload>
                </ee:message>
            </ee:transform>
    </flow>
    <flow name="get:\authors\(id):books-catalog-sapi-config">
        <os:retrieve doc:name="Retrieve" doc:id="izcrqb" key="#[attributes.uriParams.id]" objectStore="authors"/>
        <ee:transform doc:name="Transform" doc:id="lhogrr" >
            <ee:message >
                <ee:set-payload doc:name="Set payload" doc:id="lreiue" ><![CDATA[%dw 2.0
        output application/json
        ---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        
    </flow>
    <flow name="get:\books\(id):books-catalog-sapi-config">
        
        
    <os:retrieve doc:name="Retrieve" doc:id="oaywhg" key="#[attributes.uriParams.id]" objectStore="books"/>
    <ee:transform doc:name="Transform" doc:id="ddthdd" >
                <ee:message >
                    <ee:set-payload doc:name="Set payload" doc:id="rtnmqh" ><![CDATA[%dw 2.0
            output application/json
            ---
    payload]]></ee:set-payload>
                </ee:message>
            </ee:transform>
    </flow>
</mule>
