implementations/system/customer-sapi-impl/src/main/mule/customer-sapi-impl.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd   http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
  <http:listener-config name="customers-sapi-httpListenerConfig">
    <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
  </http:listener-config>
  <apikit:config api="resource::bcb991d0-dc5b-4ff7-b0d9-bda707983f40:customers-sapi:1.0.0:raml:zip:customers-sapi.raml" httpStatusVarName="httpStatus" name="customers-sapi-config" outboundHeadersMapName="outboundHeaders"></apikit:config>
  <os:object-store name="Customers"></os:object-store>
  <flow name="customers-sapi-main">
    <http:listener config-ref="customers-sapi-httpListenerConfig" path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="customers-sapi-config"></apikit:router>
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">405</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">406</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">415</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">501</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="customers-sapi-console">
    <http:listener config-ref="customers-sapi-httpListenerConfig" path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="customers-sapi-config"></apikit:console>
    <error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform doc:name="Transform Message">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="get:\customers\(id):customers-sapi-config">
    <try doc:name="Try" doc:id="87f45e9a-1234-5678-9abc-def012345678">
      <os:retrieve doc:name="Retrieve" doc:id="gascjm" key="#[attributes.uriParams.'id']" objectStore="Customers"/>
      <choice doc:name="Choice" doc:id="12345678-abcd-efgh-ijkl-mnopqrstuvwx">
        <when expression="#[payload != null and payload != '']">
          <ee:transform doc:name="Transform Message">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
          </ee:transform>
        </when>
        <otherwise>
          <ee:transform doc:name="Customer Not Found Response" doc:id="98765432-zyxw-vutr-sqpo-nmlkjihgfedc">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "customer not found"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
              <ee:set-variable variableName="httpStatus">404</ee:set-variable>
            </ee:variables>
          </ee:transform>
        </otherwise>
      </choice>
      <error-handler>
        <on-error-propagate type="OS:KEY_NOT_FOUND">
          <ee:transform doc:name="Customer Not Found Response" doc:id="fedcba98-7654-3210-fedc-ba9876543210">
            <ee:message>
              <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "customer not found"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
              <ee:set-variable variableName="httpStatus">404</ee:set-variable>
            </ee:variables>
          </ee:transform>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>
  <flow name="post:\customers:application\json:customers-sapi-config">
        <os:retrieve doc:name="Retrieve" doc:id="hlytzi" key="lastid" objectStore="Customers" target="lastid" targetValue="#[payload as Number]">
            <os:default-value><![CDATA[0]]></os:default-value>
        </os:retrieve>
    <ee:transform doc:name="Transform" doc:id="nkxwdd" >
      <ee:message >
        <ee:set-payload doc:name="Set payload" doc:id="tpnhff" ><![CDATA[%dw 2.0
output application/json
---
payload update {
    case .id -> (vars.lastid + 1)
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <os:store doc:id="cqlqus" doc:name="Store" key="#[vars.lastid + 1]" objectStore="Customers"/>
        <os:store doc:name="Store" doc:id="vzjehl" key="lastid" objectStore="Customers">
            <os:value><![CDATA[#[vars.lastid + 1]]]></os:value>
        </os:store>
    <ee:transform doc:name="Transform" doc:id="vnvjfn" >
      <ee:message >
        <ee:set-payload doc:name="Set payload" doc:id="gnasqi" ><![CDATA[%dw 2.0
    output application/json
    ---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
